{% extends 'base.html.twig' %}



{% block header %}

    {% block navbar %}
        <nav class="navbar">

            {% block header_navigation_links %}
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('circuit_index') }}">Circuits</a></li>
                <li><a href="{{ path('homepage') }}login">Login</a></li>
                {# 
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_post_new') }}">Nouveau post</a>                         
                    </li>
                {% endif %}
                #}
            {% endblock %}
        </nav>
    {% endblock %}

    {% block headBanner %}
            <h1>Agence de voyage virtuelle</h1>
    {% endblock %}

{% endblock %}
    


{% block body %}
    {% block main %}
        
    {% endblock %} 
{% endblock %}



{% block footer %}
    
{% endblock %}